.icon-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  color: #555;
  border: 1px solid #555;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  margin: 3px;
}

.icon-button:hover {
  background-color: rgb(159, 236, 159);
  color: white;
  cursor: pointer;
}

.icon-button i {
  font-size: 1.5rem;
}

.upload-buttons .icon-button:hover {
  background: var(--south-africa-blue);
  color: white;
}

@media (max-width: 768px) {
  .icon-button {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
  .icon-button i {
    font-size: 1.2rem;
  }
}

.disabled-back-button {
  opacity: 0.5;
  cursor: default;
  filter: grayscale(100%);
}
