.app-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 1rem;
  margin-left: 150px;
  width: calc(100% - 250px);
  overflow-y: auto;
}

@media (min-width: 769px) {
  .main-content {
    margin-right: 80px;
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-bottom: 60px;
  }
}
