* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #e2e2e2 #7cb41b);
}

.container {
  position: relative;
  width: 850px;
  height: 550px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.form-box {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  /* background-color: var(--primary-color); */
  display: flex;
  align-items: center;
  color: #555;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
}

.container h1 {
  font-size: 36px;
  margin: 20px;
}

.input-box {
  position: relative;
}

.forgot-pass {
  margin: -15px 0 15px;
}

.forgot-pass a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}
.line {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}

.line p {
  margin: 0;
  white-space: nowrap;
}

.line::before,
.line::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.btn {
  width: 90%;
}

.btn button {
  width: 100%;
  display: block;
}

.password-validation-box {
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 14px;
  color: #374151;
  margin-top: -8px;
  margin-bottom: 12px;
  line-height: 1.5;
  user-select: none;
}

.password-validation-box p {
  margin: 4px 0;
}

.password-valid {
  color: green;
}

.password-invalid {
  color: #9ca3af;
}

.google-signin-wrapper {
  margin: 1.5rem 0;
}

.google-signup-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  background-color: white;
  border-color: #555;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
}

.google-signup-btn img {
  width: 20px;
  height: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all ease 0.2s;
}
button:hover {
  scale: 0.9;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
